body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #047681;
}

.menuComLogo {
  border-bottom: solid 5px #0fa8d6;
  margin-left: 5%;
  margin-right: 5%;
}

#logo {
  display: flex;
  margin: auto;
  justify-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.menu a {
  display: flex;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px 16px;
  text-align: center;
  color: #FFDC57;
  border-radius: 5px;
  background-color: black;
  width: auto;
  text-shadow: 2px 2 px 2px;
}

li a:hover {
  text-decoration: underline;
}

h1 {
  background-color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  color: #FFDC57;
  text-align: center;
  padding: 10px;
}

.formulario {
  display: flex;
  justify-content: center;
  color: #FFDC57;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

.formulario p {
  color: #ffdc57;
}

/* CSS referente a pagina de Contato */

#dadosFormulario {
  margin-top: -30px;
  width: 400px;
  height: 550px;
  padding: 30px;
  text-align: center;
}

.formulario p {
  width: 100%;
  font-size: 1.5em;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.field {
  background-color: black;
  border-radius: 10px;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}

.field label, .field span {
  padding-left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
  color: #ffdc57;
  margin: 10px;
}

.radiobox label {
  width: auto;
  display: inline-block;
}

input[type='text'], input[type='email'], textarea {
  width: 97%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  outline: none;
  padding-bottom: 10px;
  color: black;
  background-color: #0fa8d6;
}

textarea {
  width: 95%;
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
  padding-bottom: 10px;
}

::placeholder {
  color: black;
}

input[type='submit'] {
  color: #ffdc57;
  display: block;
  background-color: black;
  border: none;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-size: xx-large;
}

/*Rodape*/

.rodape {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}

.menuRodape a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFDC57;
  align-items: center;
  padding: 10px;
}

.dadosRodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-top: 5px solid #0fa8d6;
  border-bottom: 5px solid #0fa8d6;
  margin-bottom: 50px;
  text-align: center;
}

#logoGrupo {
  margin-bottom: -15%;
}