body{
    font-size: 1.1em;
    background-color: #047681; 
    margin-left: 5%; 
    margin-right: 5%; 
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border-bottom: 5px solid #0fa8d6;
}

#logo {
    display: flex;
    margin: auto;
    justify-content: center;
}  

nav{
    text-align: center;
}
 
nav a{
    display: inline-block;
	margin-right: 10px;
    margin-bottom: 50px;
	border-radius: 5px;
	color: #FFDC57;
	text-decoration: none;
	background-color: #000000;
	font-size: 18px;
	text-align: center;
	padding: 15px;
	width: 10%;
}

nav a:hover{
    text-decoration: underline;
}

#titulo{
    background-color: #000000;
    color: #FFDC57;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; 
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 90%;
    margin: auto;
    text-align: center;
} 

#noticia1{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 30px;
}

#noticia2{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 30px;
}

#noticia3{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 30px;
}

#noticia4{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 30px;
}

#noticia5{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 50px;
}

#noticia6{ 
    padding: 20px;
    background-color: #000000;
    color: #FFDC57;
    border-radius: 50px 30px;
    margin-bottom: 50px;
} 

.fotoNoticia{
    width: 72%; 
    margin-bottom: 10px;
} 

p{
    text-align: justify;
    margin: 8px;
}


.dadosRodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-top: 5px solid #0fa8d6;
    margin-bottom: 50px;
    text-align: center;
}

ul, li{
    list-style: none; 
} 

li a{
    display: block;
  text-align: center;
  text-decoration: none;
  color: #FFDC57;
  align-items: center;
  padding: 10px; 
    font-size: 1.1em; 
}

li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px){
    nav a{
        display: block;
        border-radius: 0px;
        margin-bottom: 0px;
        margin-right: auto;
        margin-left: auto; 
        width: 80%;
    }
     
    nav{
        margin-bottom: 50px;
    }

    .noticias{
        display: block;
    } 

    #logoGrupo{
        display: none;
    } 

    #logoRodape{
        width: 60%;
    }
}

