body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #047681;
}

.menuComLogo {
    border-bottom: solid 5px #0fa8d6;
    margin-left: 5%;
    margin-right: 5%;
}

#logo {
    display: flex;
    margin: auto;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu a {
    display: flex;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 10px 16px;
    text-align: center;
    color: #FFDC57;
    border-radius: 5px;
    background-color: black;
    width: auto;
    text-shadow: 2px 2 px 2px;
}

li a:hover {
    transition: ;
    text-decoration: underline;
}

h1 {
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    color: #FFDC57;
    text-align: center;
    padding: 10px;
}

.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-content: space-around;
    flex-wrap: wrap;
    color: #FFDC57;
    margin-left: 5%;
    margin-right: 5%;
}

.noticias h3 {
    text-align: center;
}

.noticias a {
    text-decoration: none;
    text-align: center;
    color: #FFDC57;
}

.noticias a:hover {
    color: #0fa8d6;
    text-decoration: underline;
}

.noticias p {
    background-color: black;
}

#noticia1 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 50px 30px;
}

#noticia2 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 30px 50px;
}

#noticia3 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 50px 30px;
}

#noticia4 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 30px 50px;
}

#noticia5 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 50px 30px;
}

#noticia6 {
    padding: 0px 30px 30px 30px;
    background-color: black;
    border-radius: 30px 50px;
}

.rodape {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.menuRodape a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFDC57;
    align-items: center;
    padding: 10px;
}

.dadosRodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-top: 5px solid #0fa8d6;
    border-bottom: 5px solid #0fa8d6;
    margin-bottom: 50px;
    text-align: center;
}

#logoGrupo {
    margin-bottom: -15%;
}