body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #047681;
}

.menuComLogo {
   
    margin-left: 5%;
    margin-right: 5%;
}

#logo {
    display: flex;
    margin: auto;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.menu a {
    display: block;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 10px 16px;
    text-align: center;
    color: #FFDC57;
    border-radius: 5px;
    background-color: black;
    width: auto;
    text-shadow: 2px 2 px 2px;
    
}


#titulo {
    background-color: rgb(40, 17, 56);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    color: #FFDC57;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    max-width: 90%;
}



h1 {
    padding: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
   
}

h5 {
    text-align: center;
}

#Sobre {
    background-color: rgba(141, 19, 19, 0.9);
    margin: auto;
    border-radius: 5px;
    color: yellow;
    padding: auto;
    text-align: center;
    max-width: 100%;

}    

p {
    text-align: left;
    margin: 5%;
    

}

#Descricao {

    text-align: left;

}



.rodape {
    margin-left: 5%;
    margin-right: 5%;
}

.menuRodape a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #FFDC57;
    align-items: center;
    margin-left: 0px;
    padding: 5px;
    
}

.dadosRodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 5px solid #024AA8;
    text-align: center;
   
}

